body{
    margin: 0;
    background-color: rgb(43, 41, 41);
}
header{
    margin: auto;
    height: 50px;
    background-color: rgb(5, 0, 0);
    text-align: center;
}
h1{
    margin: auto;
    color: white;
    padding-top: 5px;
}

.Calculadora{
    display: block; 
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: rgb(181, 181, 196);
    margin-top: 3%;
    
}

.resultado{
    height: 100px;
    color: white;
    background-color: black;
    
}

.texto{
    text-align: right;
    vertical-align: bottom;
    color: white;
}
.botoes{
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* espaço entre as linhas de botões */
    padding: 7px; /* espaço interno */
    box-sizing: border-box;
}

.quadrados{
    display: flex;
    flex: 1;
    gap: 7px;  /* cada linha ocupa o mesmo espaço vertical */

    
}
button{
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(240, 238, 241);
    color: rgb(2, 1, 1);
    font-size: 18px;
    padding: 25px 0;
    border: 1px solid transparent; /* Borda transparente por padrão */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.botao-calculo{
    background-color: rgba(240, 238, 241, 0.493);;
}
button:hover {
    background-color: rgb(200, 200, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(100, 100, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}
